* {
	font-family: "Cuprum", "Verdana", sans-serif;
	font-weight: normal;
}

body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.page-header {
	background-color: #f1f5f8;
}

.header-top {
	color: #ffffff;
	background-color: #293448;
}

.button {
	display: block;
    padding: 10px 0 10px 0;
    width: 220px;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}

.button:hover {
    background-color: #ca2c37;
    outline: none;
}

.button:active {
    background-color: #ba2732;
    outline: none;
}

.button-logo {
	float: left;
	width: 220px;
	padding: 11px 0 7px 0;
    font-size: 24px;
    line-height: 24px;
    background-color: #ee3643;
    box-shadow: 0 5px #b52933;
    border-radius: 0;
}

.search-form {
	display: flex;
	padding-left: 0;
	width: 270px;
	height: 40px;
}

.search-input {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: transparent;
	border: none;
	opacity: 1;
}

input[type="search"]::-webkit-input-placeholder {opacity: 1; color: #ffffff;}
input[type="search"]::-moz-placeholder          {opacity: 1; color: #ffffff;}
input[type="search"]:-moz-placeholder           {opacity: 1; color: #ffffff;}
input[type="search"]:-ms-input-placeholder      {opacity: 1; color: #ffffff;}

.search-button {
	order: -1;
	width: 20px;
	padding-right: 40px;
    height: 42px;
	background: transparent url("../img/icon-search.svg") no-repeat 17px 12px;
	opacity: 0.3;
	border: none;
}

.shop-controls {
	display: block;
	width: 450px;
}

.main-navigation {
	display: block;
	width: 940px;
	max-height: 55px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.main-navigation .site-navigation {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	padding-left: 0;
	background-color: #32425c;
	border-bottom: 5px solid #293448;
}

.main-navigation a {
	display: block;
	margin: 0;
	padding: 20px 30px 18px;
	font-size: 17px;
	line-height: 17px;
	text-align: center;
	color: #ffffff;
	background-color: #32425c;
}

.main-navigation a:hover,
.main-navigation a:focus {
	background-color: #293448;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-navigation a:focus {
	outline: none;
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/