body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	font-size: 13px;
	line-height: 24px;
	font-family: "Cuprum", "PT Sans", "Verdana", sans-serif;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.button {
	display: block;
	margin: 0;
	padding: 0;
	width: 220px;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 3px;
	outline: none;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 940px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
}

.page-header {
	margin-bottom: 60px;
}

.inner-page .page-header {
	color: #ffffff;
	background-color: #293448;
}

.header-top {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.button-logo {
	width: 220px;
	padding-top: 10px;
	padding-bottom: 8px;
	font-size: 24px;
	line-height: 24px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 #b52933;
	border-radius: 0;
}

.search-form {
	display: flex;
	width: 270px;
	height: 42px;
}

.search-input {
	width: 270px;
	padding-left: 5px;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: transparent;
	border: none;
	outline: none;
}

.search-input::-webkit-input-placeholder	{color: #ffffff;}
.search-input::-moz-placeholder				{color: #ffffff;}
.search-input:-moz-placeholder				{color: #ffffff;}
.search-input:-ms-input-placeholder			{color: #ffffff;}

.icon-search {
	margin-left: 15px;
	margin-top: 10px;
	margin-right: 13px;
	stroke: rgba(255, 255, 255, 0.3);
	fill: #ffffff;
	fill-opacity: 0.3;
}

.search-form:hover {
	background-color: #212a3a;
}

.search-form:hover svg {
	fill-opacity: 1;
}

.search-input:focus {
	color: #000000;
	background-color: #ffffff;
}

.search-input:focus ~ svg,
.search-input:active ~ svg {
	stroke: #ee3643;
	fill: #ee3643;
	fill-opacity: 1;
}

.shop-bookmarks,
.shop-basket,
.shop-ordering {
	display: block;
	width: 150px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	outline: none;
}

.shop-ordering {
	background-color: #63a63e;
}

.shop-basket:hover,
.shop-basket:focus,
.shop-bookmarks:hover,
.shop-bookmarks:focus {
	background-color: #212a3a;
}

.shop-basket:active,
.shop-bookmarks:active {
	background-color: #161d29;
	opacity: 0.6;
}

.shop-ordering:hover,
.shop-ordering:focus {
	background-color: #5fbb2d;
}

.shop-ordering:active {
	background-color: #518534;
	opacity: 0.5;
}

.inner-page .header-bottom {
	padding-top: 30px;
	padding-bottom: 60px;
	color: #000000;
	background-color: #f4f7f9;
}

.wrapper {
	display: flex;
	align-items: center;
}

.header-bottom h1 {
	margin-left: 47px;
	width: 207px;
	font-size: 16px;
	line-height: 23px;
	font-weight: normal;
	font-style: italic;
	color: #ee3643;
}

.header-contacts {
	margin-left: 69px;
	margin-right: 69px;
	width: 270px;
}

.header-contacts a,
.user-navigation a {
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;
}

.header-contacts a {
	display: block;
	padding-top: 8px;
	padding-right: 0;
	padding-bottom: 8px;
	padding-left: 16px;
	border: 3px solid #ffffff;
	color: #ee3643;
}

.header-contacts a::before {
	content: "";
	display: inline-block;
	margin-right: 31px;
	width: 19px;
	height: 19px;
	background-color: #f4f7f9;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: left center;
}

.header-contacts p {
	margin: 0;
	padding-top: 6px;
	text-align: center;
	color: #32425c;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 282px;
	height: 45px;
	padding: 0;
	margin: 0;
}

.user-navigation li {
	padding-top: 12px;
	color: #000000;
	background-color: #ffffff;
}

.user-navigation a {
	text-align: left;
	color: #000000;
	background-color: #ffffff;
}

.login-link {
	margin-right: 10px;
	width: 121px;
}

.login-link a {
	padding-left: 47px;
}

.registration-link {
	width: 150px;
	text-align: center;
}

.user-navigation a:hover,
.user-navigation a:focus {
	color: #ee3643;
}

.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 0;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #32425c;
	border-bottom: 5px solid #293448;
}

.site-navigation a {
	display: block;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 18px;
	text-align: center;
	color: #ffffff;
	background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293448;
}

.site-navigation a:active {
	color: rgba(255, 255, 255, 0.5);
}

.offers {
	margin-bottom: 60px;
}

.offers-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.offers-col {
	display: flex;
	flex-direction: column;
}

.offers-box {
	margin-bottom: 20px;
	width: 300px;
	height: 123px;
	background-color: #293448;
}

.offers-box h3 {
	margin-top: 23px;
	margin-left: 22px;
	margin-bottom: 0;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
}

.offers-button {
	margin-top: 11px;
	margin-left: 25px;
	padding: 10px 0;
	width: 135px;
	vertical-align: top;
	background-color: rgba(0%, 0%, 0%, 0.1);
}

.offers-button:hover,
.offers-button:focus {
	background-color: rgba(0%, 0%, 0%, 0.2);
}

.offers-button:active {
	background-color: rgba(0%, 0%, 0%, 0.3);
}

.materials {
	background-color: #ffbf47;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 213px 31px;
}

.instruments {
	background-color: #3bbce3;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 197px 33px;
}

.technics {
	background-color: #dc91d8;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 191px 31px;
}

.discount {
	background-color: #8ed78f;
	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 196px 26px;
}

.delivery {
	background-color: #ffc047;
	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 191px 32px;
}

.offers-slider-content {
	width: 620px;
	height: 266px;
}

.popular-products,
.popular-brands {
	margin-bottom: 20px;
}

.products-header,
.brands-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 28px;
	padding-right: 24px;
	height: 89px;
	background-color: #f9f5f0;
}

.section-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	color: #32425c;
}

.products-button,
.brands-button {
	padding-top: 9px;
	padding-bottom: 11px;
	width: 253px;
}

.products-list,
.brands-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-left: -20px;
	padding: 0;
	list-style: none;
}

.catalog-item {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-left: 20px;
	width: 218px;
	height: 316px;
	text-align: center;
	border: 1px solid #eaeaea;
}

.product-figure {
	margin-top: 0;
	height: 160px;
}

.product-figure img {
	margin-top: 20px;
	width: 100%;
}

.product-action {
	position: absolute;
	display: none;
	top: 43px;
	left: 42px;
	z-index: 1;
}

.basket-button {
	margin-top: auto;
	padding-top: 12px;
	padding-bottom: 8px;
	width: 135px;
	color: #ffffff;
	background-color: #63a63e;
	box-shadow: 0 3px 0 #518534;
}

.bookmarks-button {
	margin-top: 8px;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 129px;
	color: #32425c;
	background-color: #ffffff;
	border: 3px solid #63a63e;
}

.catalog-item:hover,
.catalog-item:focus {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item:hover > .product-figure {
	opacity: 0;
}

.catalog-item:hover > .product-action {
	display: block;
}

.basket-button:hover,
.basket-button:focus {
	background-color: #5fbb2d;
}

.basket-button:active {
	background-color: #518534;
}

.bookmarks-button:hover,
.bookmarks-button:focus {
	background-color: #ffffff;
	border: 3px solid #32425c;
}

.bookmarks-button:active {
	opacity: 0.3;
}

.catalog-item h3 {
	margin-top: 15px;
	margin-bottom: 0;
	padding-bottom: 10px;
	font-size: 18px;
	line-height: 20px;
	font-family: "PT Sans", "Verdana", sans-serif;
	font-weight: bold;
	color: #000000;
}

.price-button,
.product-discount {
	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans", "Verdana", sans-serif;
	font-weight: bold;
}

.product-discount {
	margin-bottom: 10px;
	text-decoration: line-through;
	text-transform: uppercase;
	color: #999999;
}

.price-button {
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 120px;
}

.brands-item {
	display: flex;
	margin-top: 20px;
	margin-left: 20px;
	width: 218px;
	height: 143px;
	border: 1px solid #eaeaea;
	outline: none;
}

.brands-list a {
	margin: auto;
}

.brands-item:hover,
.brands-item:focus {
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-item:active {
	box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}

.service {
	margin: 0;
	padding: 0;
	color: #000000;
	background-color: #f5f8fa;
}

.service h2,
.company h2,
.contacts h2 {
	margin: 0;
	padding: 0;
	color: #000000;
} 

.service-list-button,
.service-list-content {
	padding: 0;
	list-style: none;
}

.tab-button {
	width: 240px;
	height: 60px;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
	background-color: #32425c;
	border: none;
}

.service-description h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
	color: #32425c;
}

.index-columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 86px;
	color: #000000;
}

.company {
	display: flex;
	flex-direction: column;
}

.company-list-info {
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
}

.company-button,
.contacts-button {
	margin-top: auto;
	padding-top: 9px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 11px;
}

.contacts-button {
	width: 320px;
}

.breadcrumbs {
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
	font-family: "PT Sans", "Verdana", sans-serif;
	line-height: 18px;
	list-style: none;
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}

.breadcrumbs-current {
	color: #000000;
}

.page-title {
	display: block;
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	color: #32425c;
	background-color: #f2f6f8;
}

.catalog-columns {
	display: flex;
}

.filters {
	margin-right: 20px;
	width: 220px;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 17px;
	line-height: 30px;
	font-family: "PT Sans", "Verdana", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.filter-option label {
	font-size: 15px;
	line-height: 20px;
	font-family: "PT Sans", "Verdana", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #663d15;
}

.filter-input:disabled + label {
	color: #000000;
	opacity: 0.5;
}

.catalog {
	width: 700px;
}

.about {
	padding-bottom: 70px;
	color: #000000;
	background-color: #f2f6f8;
}

.about h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.about p {
	margin: 0;
	padding: 0;
}

.main-footer {
	color: #ffffff;
	background-color: #32425c;
}
 
.footer-logo {
	width: 220px;
	padding-top: 17px;
	padding-bottom: 16px;
	font-size: 30px;
	line-height: 30px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 #b52933;
	border-radius: 0;
}

.footer-list-top,
.footer-list-bottom {
	list-style: none;
}

.footer-item-top,
.footer-contacts,
.footer-item-bottom {
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #ffffff;
}

.footer-item-top a {
	color: #ffffff;
}

.footer-item-bottom a {
	color: #ffd180;
}

.footer-bottom {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}

.footer-social {
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	color: #ffffff;
}

.feedback-button,
.developer-button {
	color: #ffd180;
	background-color: transparent;
}

.footer-copyright {
	text-align: center;
}

.modal-half-width {
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
}

.modal-button {
	padding-top: 9px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 11px;
	width: 460px;
	border: none;
}